In [1]:
import pandas as pd

In [2]:
ebola = pd.read_csv('data/country_timeseries.csv')

In [3]:
ebola.count()

Date                   122
Day                    122
Cases_Guinea            93
Cases_Liberia           83
Cases_SierraLeone       87
Cases_Nigeria           38
Cases_Senegal           25
Cases_UnitedStates      18
Cases_Spain             16
Cases_Mali              12
Deaths_Guinea           92
Deaths_Liberia          81
Deaths_SierraLeone      87
Deaths_Nigeria          38
Deaths_Senegal          22
Deaths_UnitedStates     18
Deaths_Spain            16
Deaths_Mali             12
dtype: int64

In [4]:
import numpy as np

In [8]:
np.count_nonzero(ebola.isnull())

1214

In [9]:
ebola.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 122 entries, 0 to 121
Data columns (total 18 columns):
Date                   122 non-null object
Day                    122 non-null int64
Cases_Guinea           93 non-null float64
Cases_Liberia          83 non-null float64
Cases_SierraLeone      87 non-null float64
Cases_Nigeria          38 non-null float64
Cases_Senegal          25 non-null float64
Cases_UnitedStates     18 non-null float64
Cases_Spain            16 non-null float64
Cases_Mali             12 non-null float64
Deaths_Guinea          92 non-null float64
Deaths_Liberia         81 non-null float64
Deaths_SierraLeone     87 non-null float64
Deaths_Nigeria         38 non-null float64
Deaths_Senegal         22 non-null float64
Deaths_UnitedStates    18 non-null float64
Deaths_Spain           16 non-null float64
Deaths_Mali            12 non-null float64
dtypes: float64(16), int64(1), object(1)
memory usage: 17.2+ KB

In [10]:
np.count_nonzero(ebola['Cases_Guinea'].isnull())

29

In [16]:
ebola.fillna(0).iloc[0:10, 0:5]

         Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone
0    1/5/2015  289        2776.0            0.0            10030.0
1    1/4/2015  288        2775.0            0.0             9780.0
2    1/3/2015  287        2769.0         8166.0             9722.0
3    1/2/2015  286           0.0         8157.0                0.0
4  12/31/2014  284        2730.0         8115.0             9633.0
5  12/28/2014  281        2706.0         8018.0             9446.0
6  12/27/2014  280        2695.0            0.0             9409.0
7  12/24/2014  277        2630.0         7977.0             9203.0
8  12/21/2014  273        2597.0            0.0             9004.0
9  12/20/2014  272        2571.0         7862.0             8939.0

In [17]:
ebola.fillna(method='bfill').iloc[0:10, 0:5]

         Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone
0    1/5/2015  289        2776.0         8166.0            10030.0
1    1/4/2015  288        2775.0         8166.0             9780.0
2    1/3/2015  287        2769.0         8166.0             9722.0
3    1/2/2015  286        2730.0         8157.0             9633.0
4  12/31/2014  284        2730.0         8115.0             9633.0
5  12/28/2014  281        2706.0         8018.0             9446.0
6  12/27/2014  280        2695.0         7977.0             9409.0
7  12/24/2014  277        2630.0         7977.0             9203.0
8  12/21/2014  273        2597.0         7862.0             9004.0
9  12/20/2014  272        2571.0         7862.0             8939.0

In [18]:
ebola.interpolate().iloc[0:10, 0:5]

         Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone
0    1/5/2015  289        2776.0            NaN            10030.0
1    1/4/2015  288        2775.0            NaN             9780.0
2    1/3/2015  287        2769.0         8166.0             9722.0
3    1/2/2015  286        2749.5         8157.0             9677.5
4  12/31/2014  284        2730.0         8115.0             9633.0
5  12/28/2014  281        2706.0         8018.0             9446.0
6  12/27/2014  280        2695.0         7997.5             9409.0
7  12/24/2014  277        2630.0         7977.0             9203.0
8  12/21/2014  273        2597.0         7919.5             9004.0
9  12/20/2014  272        2571.0         7862.0             8939.0

In [21]:
ebola_dropna = ebola.dropna(axis='columns')

In [22]:
ebola.dropna(subset=['Cases_Guinea','Cases_Liberia']).to_csv()

,Date,Day,Cases_Guinea,Cases_Liberia,Cases_SierraLeone,Cases_Nigeria,Cases_Senegal,Cases_UnitedStates,Cases_Spain,Cases_Mali,Deaths_Guinea,Deaths_Liberia,Deaths_SierraLeone,Deaths_Nigeria,Deaths_Senegal,Deaths_UnitedStates,Deaths_Spain,Deaths_Mali
2,1/3/2015,287,2769.0,8166.0,9722.0,NaN,NaN,NaN,NaN,NaN,1767.0,3496.0,2915.0,NaN,NaN,NaN,NaN,NaN
4,12/31/2014,284,2730.0,8115.0,9633.0,NaN,NaN,NaN,NaN,NaN,1739.0,3471.0,2827.0,NaN,NaN,NaN,NaN,NaN
5,12/28/2014,281,2706.0,8018.0,9446.0,NaN,NaN,NaN,NaN,NaN,1708.0,3423.0,2758.0,NaN,NaN,NaN,NaN,NaN
7,12/24/2014,277,2630.0,7977.0,9203.0,NaN,NaN,NaN,NaN,NaN,NaN,3413.0,2655.0,NaN,NaN,NaN,NaN,NaN
9,12/20/2014,272,2571.0,7862.0,8939.0,NaN,NaN,NaN,NaN,NaN,1586.0,3384.0,2556.0,NaN,NaN,NaN,NaN,NaN
19,11/18/2014,241,2047.0,7082.0,6190.0,20.0,1.0,4.0,1.0,6.0,1214.0,2963.0,1267.0,8.0,0.0,1.0,0.0,6.0
42,10/7/2014,199,1350.0,4076.0,NaN,NaN,NaN,NaN,NaN,NaN,778.0,2316.0,NaN,NaN,NaN,NaN,NaN,NaN
45,10/1/2014,193,1199.0,3834.0,2437.0,20.0,1.0,1.0,NaN,NaN,739.0,2069.0,623.0,8.0,0.0,0.0,NaN,NaN
46,9/28/2014,190,1157.0,3696.0,2304.0,20.0,1.0,NaN,NaN,NaN,710.0,1998.0,622.0,8.0,0.0,NaN,NaN,NaN
47,9/23/2014,185,1074.0,3458.0,2021.0,20.0,1.0,NaN,NaN,NaN,648.0,1830.0,605.0,8.0,0.0,NaN,NaN,NaN
48,9/21/2014,183,1022.0,3280.0,1940.0,20.0,1.0,NaN,NaN,NaN,635.0,1677.0,597.0,8.0,0.0,NaN,NaN,NaN
52,9/14/2014,176,942.0,2710.0,1673.0,NaN,NaN,NaN,NaN,NaN,601.0,1459.0,562.0,NaN,NaN,NaN,NaN,NaN
56,9/7/2014,169,861.0,2081.0,1424.0,21.0,3.0,NaN,NaN,NaN,557.0,1137.0,524.0,8.0,0.0,NaN,NaN,NaN
57,9/5/2014,167,812.0,1871.0,1261.0,22.0,1.0,NaN,NaN,NaN,517.0,1089.0,491.0,8.0,NaN,NaN,NaN,NaN
58,8/31/2014,162,771.0,1698.0,1216.0,21.0,1.0,NaN,NaN,NaN,494.0,871.0,476.0,7.0,NaN,NaN,NaN,NaN
59,8/26/2014,157,648.0,1378.0,1026.0,17.0,NaN,NaN,NaN,NaN,430.0,694.0,422.0,6.0,NaN,NaN,NaN,NaN
60,8/20/2014,151,607.0,1082.0,910.0,16.0,NaN,NaN,NaN,NaN,406.0,624.0,392.0,5.0,NaN,NaN,NaN,NaN
61,8/18/2014,149,579.0,972.0,907.0,15.0,NaN,NaN,NaN,NaN,396.0,576.0,374.0,4.0,NaN,NaN,NaN,NaN
62,8/16/2014,147,543.0,834.0,848.0,15.0,NaN,NaN,NaN,NaN,394.0,466.0,365.0,4.0,NaN,NaN,NaN,NaN
63,8/13/2014,144,519.0,786.0,810.0,12.0,NaN,NaN,NaN,NaN,380.0,413.0,348.0,4.0,NaN,NaN,NaN,NaN
64,8/11/2014,142,510.0,670.0,783.0,12.0,NaN,NaN,NaN,NaN,377.0,355.0,334.0,3.0,NaN,NaN,NaN,NaN
65,8/9/2014,140,506.0,599.0,730.0,13.0,NaN,NaN,NaN,NaN,373.0,323.0,315.0,2.0,NaN,NaN,NaN,NaN
66,8/6/2014,137,495.0,554.0,717.0,13.0,NaN,NaN,NaN,NaN,367.0,294.0,298.0,2.0,NaN,NaN,NaN,NaN
67,8/4/2014,135,495.0,516.0,691.0,9.0,NaN,NaN,NaN,NaN,363.0,282.0,286.0,1.0,NaN,NaN,NaN,NaN
68,8/1/2014,132,485.0,468.0,646.0,4.0,NaN,NaN,NaN,NaN,358.0,255.0,273.0,1.0,NaN,NaN,NaN,NaN
69,7/30/2014,129,472.0,391.0,574.0,3.0,NaN,NaN,NaN,NaN,346.0,227.0,252.0,1.0,NaN,NaN,NaN,NaN
70,7/27/2014,126,460.0,329.0,533.0,1.0,NaN,NaN,NaN,NaN,339.0,156.0,233.0,1.0,NaN,NaN,NaN,NaN
71,7/23/2014,123,427.0,249.0,525.0,0.0,NaN,NaN,NaN,NaN,319.0,129.0,224.0,0.0,NaN,NaN,NaN,NaN
72,7/20/2014,120,415.0,224.0,454.0,NaN,NaN,NaN,NaN,NaN,314.0,127.0,219.0,NaN,NaN,NaN,NaN,NaN
73,7/17/2014,117,410.0,196.0,442.0,NaN,NaN,NaN,NaN,NaN,310.0,116.0,206.0,NaN,NaN,NaN,NaN,NaN
74,7/14/2014,114,411.0,174.0,397.0,NaN,NaN,NaN,NaN,NaN,310.0,106.0,197.0,NaN,NaN,NaN,NaN,NaN
75,7/12/2014,112,406.0,172.0,386.0,NaN,NaN,NaN,NaN,NaN,304.0,105.0,194.0,NaN,NaN,NaN,NaN,NaN
76,7/8/2014,108,409.0,142.0,337.0,NaN,NaN,NaN,NaN,NaN,309.0,88.0,142.0,NaN,NaN,NaN,NaN,NaN
77,7/6/2014,106,408.0,131.0,305.0,NaN,NaN,NaN,NaN,NaN,307.0,84.0,127.0,NaN,NaN,NaN,NaN,NaN
78,7/2/2014,102,412.0,115.0,252.0,NaN,NaN,NaN,NaN,NaN,305.0,75.0,101.0,NaN,NaN,NaN,NaN,NaN
79,6/30/2014,100,413.0,107.0,239.0,NaN,NaN,NaN,NaN,NaN,303.0,65.0,99.0,NaN,NaN,NaN,NaN,NaN
85,6/16/2014,86,398.0,33.0,NaN,NaN,NaN,NaN,NaN,NaN,264.0,24.0,NaN,NaN,NaN,NaN,NaN,NaN
86,6/10/2014,80,351.0,13.0,89.0,NaN,NaN,NaN,NaN,NaN,226.0,24.0,7.0,NaN,NaN,NaN,NaN,NaN
88,6/3/2014,73,344.0,13.0,NaN,NaN,NaN,NaN,NaN,NaN,215.0,12.0,6.0,NaN,NaN,NaN,NaN,NaN
89,6/1/2014,71,328.0,13.0,79.0,NaN,NaN,NaN,NaN,NaN,208.0,12.0,6.0,NaN,NaN,NaN,NaN,NaN
90,5/28/2014,67,291.0,13.0,50.0,NaN,NaN,NaN,NaN,NaN,193.0,12.0,6.0,NaN,NaN,NaN,NaN,NaN
91,5/27/2014,66,281.0,12.0,16.0,NaN,NaN,NaN,NaN,NaN,186.0,11.0,5.0,NaN,NaN,NaN,NaN,NaN
92,5/23/2014,62,258.0,12.0,0.0,NaN,NaN,NaN,NaN,NaN,174.0,11.0,0.0,NaN,NaN,NaN,NaN,NaN
93,5/12/2014,51,248.0,12.0,0.0,NaN,NaN,NaN,NaN,NaN,171.0,11.0,0.0,NaN,NaN,NaN,NaN,NaN
94,5/10/2014,49,233.0,12.0,0.0,NaN,NaN,NaN,NaN,NaN,157.0,11.0,0.0,NaN,NaN,NaN,NaN,NaN
95,5/7/2014,46,236.0,13.0,0.0,NaN,NaN,NaN,NaN,NaN,158.0,11.0,0.0,NaN,NaN,NaN,NaN,NaN
96,5/5/2014,44,235.0,13.0,0.0,NaN,NaN,NaN,NaN,NaN,157.0,11.0,0.0,NaN,NaN,NaN,NaN,NaN
97,5/3/2014,42,231.0,13.0,0.0,NaN,NaN,NaN,NaN,NaN,155.0,11.0,0.0,NaN,NaN,NaN,NaN,NaN
98,5/1/2014,40,226.0,13.0,0.0,NaN,NaN,NaN,NaN,NaN,149.0,11.0,0.0,NaN,NaN,NaN,NaN,NaN
105,4/17/2014,26,203.0,27.0,NaN,NaN,NaN,NaN,NaN,NaN,129.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
106,4/16/2014,25,197.0,27.0,NaN,NaN,NaN,NaN,NaN,NaN,122.0,13.0,NaN,NaN,NaN,NaN,NaN,NaN
109,4/11/2014,20,159.0,26.0,2.0,NaN,NaN,NaN,NaN,NaN,106.0,13.0,2.0,NaN,NaN,NaN,NaN,NaN
110,4/9/2014,18,158.0,25.0,2.0,NaN,NaN,NaN,NaN,NaN,101.0,12.0,2.0,NaN,NaN,NaN,NaN,NaN
111,4/7/2014,16,151.0,21.0,2.0,NaN,NaN,NaN,NaN,NaN,95.0,10.0,2.0,NaN,NaN,NaN,NaN,NaN
112,4/4/2014,13,143.0,18.0,2.0,NaN,NaN,NaN,NaN,NaN,86.0,7.0,2.0,NaN,NaN,NaN,NaN,NaN
113,4/1/2014,10,127.0,8.0,2.0,NaN,NaN,NaN,NaN,NaN,83.0,5.0,2.0,NaN,NaN,NaN,NaN,NaN
114,3/31/2014,9,122.0,8.0,2.0,NaN,NaN,NaN,NaN,NaN,80.0,4.0,2.0,NaN,NaN,NaN,NaN,NaN
115,3/29/2014,7,112.0,7.0,NaN,NaN,NaN,NaN,NaN,NaN,70.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN
116,3/28/2014,6,112.0,3.0,2.0,NaN,NaN,NaN,NaN,NaN,70.0,3.0,2.0,NaN,NaN,NaN,NaN,NaN
117,3/27/2014,5,103.0,8.0,6.0,NaN,NaN,NaN,NaN,NaN,66.0,6.0,5.0,NaN,NaN,NaN,NaN,NaN

In [23]:
ebola.sum()

Date                   1/5/20151/4/20151/3/20151/2/201512/31/201412/2...
Day                                                                17663
Cases_Guinea                                                       84729
Cases_Liberia                                                     193833
Cases_SierraLeone                                                 211181
Cases_Nigeria                                                        636
Cases_Senegal                                                         27
Cases_UnitedStates                                                    59
Cases_Spain                                                           16
Cases_Mali                                                            42
Deaths_Guinea                                                      51818
Deaths_Liberia                                                     89198
Deaths_SierraLeone                                                 60352
Deaths_Nigeria                                                       233
Deaths_Senegal                                                         0
Deaths_UnitedStates                                                   15
Deaths_Spain                                                           3
Deaths_Mali                                                           38
dtype: object

In [25]:
ebola.sum(skipna=False)

Date                   1/5/20151/4/20151/3/20151/2/201512/31/201412/2...
Day                                                                17663
Cases_Guinea                                                         NaN
Cases_Liberia                                                        NaN
Cases_SierraLeone                                                    NaN
Cases_Nigeria                                                        NaN
Cases_Senegal                                                        NaN
Cases_UnitedStates                                                   NaN
Cases_Spain                                                          NaN
Cases_Mali                                                           NaN
Deaths_Guinea                                                        NaN
Deaths_Liberia                                                       NaN
Deaths_SierraLeone                                                   NaN
Deaths_Nigeria                                                       NaN
Deaths_Senegal                                                       NaN
Deaths_UnitedStates                                                  NaN
Deaths_Spain                                                         NaN
Deaths_Mali                                                          NaN
dtype: object

In [27]:
billboard = pd.read_csv('data/billboard.csv')

In [28]:
billboard.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 317 entries, 0 to 316
Data columns (total 81 columns):
year            317 non-null int64
artist          317 non-null object
track           317 non-null object
time            317 non-null object
date.entered    317 non-null object
wk1             317 non-null int64
wk2             312 non-null float64
wk3             307 non-null float64
wk4             300 non-null float64
wk5             292 non-null float64
wk6             280 non-null float64
wk7             269 non-null float64
wk8             260 non-null float64
wk9             253 non-null float64
wk10            244 non-null float64
wk11            236 non-null float64
wk12            222 non-null float64
wk13            210 non-null float64
wk14            204 non-null float64
wk15            197 non-null float64
wk16            182 non-null float64
wk17            177 non-null float64
wk18            166 non-null float64
wk19            156 non-null float64
wk20            146 non-null float64
wk21            65 non-null float64
wk22            55 non-null float64
wk23            48 non-null float64
wk24            46 non-null float64
wk25            38 non-null float64
wk26            36 non-null float64
wk27            29 non-null float64
wk28            24 non-null float64
wk29            20 non-null float64
wk30            20 non-null float64
wk31            19 non-null float64
wk32            18 non-null float64
wk33            12 non-null float64
wk34            10 non-null float64
wk35            9 non-null float64
wk36            9 non-null float64
wk37            9 non-null float64
wk38            8 non-null float64
wk39            8 non-null float64
wk40            7 non-null float64
wk41            7 non-null float64
wk42            6 non-null float64
wk43            6 non-null float64
wk44            6 non-null float64
wk45            5 non-null float64
wk46            5 non-null float64
wk47            5 non-null float64
wk48            4 non-null float64
wk49            4 non-null float64
wk50            4 non-null float64
wk51            4 non-null float64
wk52            4 non-null float64
wk53            4 non-null float64
wk54            2 non-null float64
wk55            2 non-null float64
wk56            2 non-null float64
wk57            2 non-null float64
wk58            2 non-null float64
wk59            2 non-null float64
wk60            2 non-null float64
wk61            2 non-null float64
wk62            2 non-null float64
wk63            2 non-null float64
wk64            2 non-null float64
wk65            1 non-null float64
wk66            0 non-null float64
wk67            0 non-null float64
wk68            0 non-null float64
wk69            0 non-null float64
wk70            0 non-null float64
wk71            0 non-null float64
wk72            0 non-null float64
wk73            0 non-null float64
wk74            0 non-null float64
wk75            0 non-null float64
wk76            0 non-null float64
dtypes: float64(75), int64(2), object(4)
memory usage: 200.7+ KB

In [30]:
billboard.drop_duplicates().info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 317 entries, 0 to 316
Data columns (total 81 columns):
year            317 non-null int64
artist          317 non-null object
track           317 non-null object
time            317 non-null object
date.entered    317 non-null object
wk1             317 non-null int64
wk2             312 non-null float64
wk3             307 non-null float64
wk4             300 non-null float64
wk5             292 non-null float64
wk6             280 non-null float64
wk7             269 non-null float64
wk8             260 non-null float64
wk9             253 non-null float64
wk10            244 non-null float64
wk11            236 non-null float64
wk12            222 non-null float64
wk13            210 non-null float64
wk14            204 non-null float64
wk15            197 non-null float64
wk16            182 non-null float64
wk17            177 non-null float64
wk18            166 non-null float64
wk19            156 non-null float64
wk20            146 non-null float64
wk21            65 non-null float64
wk22            55 non-null float64
wk23            48 non-null float64
wk24            46 non-null float64
wk25            38 non-null float64
wk26            36 non-null float64
wk27            29 non-null float64
wk28            24 non-null float64
wk29            20 non-null float64
wk30            20 non-null float64
wk31            19 non-null float64
wk32            18 non-null float64
wk33            12 non-null float64
wk34            10 non-null float64
wk35            9 non-null float64
wk36            9 non-null float64
wk37            9 non-null float64
wk38            8 non-null float64
wk39            8 non-null float64
wk40            7 non-null float64
wk41            7 non-null float64
wk42            6 non-null float64
wk43            6 non-null float64
wk44            6 non-null float64
wk45            5 non-null float64
wk46            5 non-null float64
wk47            5 non-null float64
wk48            4 non-null float64
wk49            4 non-null float64
wk50            4 non-null float64
wk51            4 non-null float64
wk52            4 non-null float64
wk53            4 non-null float64
wk54            2 non-null float64
wk55            2 non-null float64
wk56            2 non-null float64
wk57            2 non-null float64
wk58            2 non-null float64
wk59            2 non-null float64
wk60            2 non-null float64
wk61            2 non-null float64
wk62            2 non-null float64
wk63            2 non-null float64
wk64            2 non-null float64
wk65            1 non-null float64
wk66            0 non-null float64
wk67            0 non-null float64
wk68            0 non-null float64
wk69            0 non-null float64
wk70            0 non-null float64
wk71            0 non-null float64
wk72            0 non-null float64
wk73            0 non-null float64
wk74            0 non-null float64
wk75            0 non-null float64
wk76            0 non-null float64
dtypes: float64(75), int64(2), object(4)
memory usage: 203.1+ KB